<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogposts</title>
</head>
<body>
    <header>
        <div>
            <h2>Blogposts</h2>
            <a class="reglink" href="/blogposts">Back to Blogposts</a>
        </div>
    </header>
    <div class="main-container">
        <form method="post" action="/blogposts/new">
            <textarea type="text" name="post" required></textarea>
            <button type="submit">Create</button>
        </form>
</body>

</html>