<form method="post" action="/iminja">
    <input name="ime" placeholder="ime"/>
    <button>+</button>
</form>
<ul>
    {{#each iminja}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<table>
  <tr>
    <th>id</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Address</th>
    <th>avg_grade</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>